<%= render 'shared/errors' %>


<form action="<%= session_url %>" method="post">
  <label for="email">email:
    <input type="text" name="user[email]"/>
  </label>

  <br>
  <label for="password">password:
    <input type="password" name="user[password]"/>
  </label>
  <br>

  <input type="submit" value="log in">
</form>

