
<h2>
  bands
</h2>

<%= render 'shared/errors' %>
<a class="llinks" href="<%= new_band_url %>" >add band</a>

<div class="bands_list">
  <ul>
    <% @bands.each do |band| %>
    <li>
      <a href="<%= band_url(band) %>"><%= band.name %></a>
      <br><br>
    </li>
    <% end %>
  </ul>
</div>